html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  /* width: 10px; */
}

.main-header {
  height: 10%;
  width: auto;
  display: flex;
  background-color: rgba(62, 107, 49, 1);
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#header-logo {
  height: 3em;
  background-color: rgba(62, 107, 49, 1);
  color: rgba(62, 107, 49, 1);
}

#header-text {
  color: white;
  /* flex-grow: 2; */
}

#header-button {
  background-color: rgba(62, 107, 49, 1);
  border: 0;
  color: white;
}

.main-flex-1 {
  padding: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-input,
.image-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5%;
  border: 1px rgba(62, 107, 49, 1) solid;
  height: 250px;
  color: rgba(62, 107, 49, 1);
  border-radius: 1rem;
  /* margin: 1.5%; */
}

.input-image.visible {
  display: none;
}

.main-flex-2 {
  padding: 5% 10% 5% 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.main-flex-2 button {
  margin-bottom: 1.5%;
  margin: 1%;
  padding: 6%;
  background-color: rgba(62, 107, 49, 1);
  color: white;
  border: none;
  border-radius: 100%;
}

.uploaded-image {
  width: 100%;
  height: 100px;
  border: 1px black solid;
  border-radius: 1rem;
  background-size: cover;
}
